/* =========================================
   FOOTER
   Desktop / Laptop
========================================= */

#footer {
    width: 100%;
    min-height: 150px;

    background-color: black;

    box-sizing: border-box;
}


/* =========================================
   TABLET
========================================= */

@media (max-width: 767px) {

    #footer {
        width: 100%;
        min-height: 130px;
    }

}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 480px) {

    #footer {
        width: 100%;
        min-height: 110px;
    }

}


/* =========================================
   VERY SMALL PHONES
========================================= */

@media (max-width: 360px) {

    #footer {
        min-height: 90px;
    }

}